SUPABASE_URL=suhttps://bevahgtmcdicyhjnrylk.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJldmFoZ3RtY2RpY3loam5yeWxrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDE1ODI1NywiZXhwIjoyMDg5NzM0MjU3fQ.SeYyVF6I-IEZA_Ejk8_5gyVXiNE2tVl0Yb9glBdGw2E
MERCADOPAGO_ACCESS_TOKEN=seu_APP_USR-4629152469359906-011114-d6116398fc402e148eefb01f9ff8aae4-1362304754
